.productCard {
  /* width: 410px; */
  /* height: 420px; */
  background-color: rgb(78, 86, 80);
  border-radius: 8px;
}

.model-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.model-card:hover {
  transform: scale(1.02);
}

.sidebar {
  background-color: rgb(72, 61, 42);
  color: rgb(224, 220, 210);
  padding: 16px;
  border-radius: 8px;
  height: fit-content;
}