<div class="grid grid-cols-8 gap-x-5.5">

    <div class="col-span-2">
        <div class="categorie">
            Categorie
        </div>
    </div>

    <div class="col-span-6" style="grid-template-columns: repeat(3, 1fr); gap: 20px; display: grid;">
        <!-- <p-card>
            <ng-template pTemplate="header">
                <img src="https://primefaces.org/cdn/primeng/images/demo/product/galleria/galleria1.jpg" alt="Image" />
            </ng-template>
            <ng-template pTemplate="title">
                Titolo Prodotto
            </ng-template>
            <ng-template pTemplate="subtitle">
                Sottotitolo Prodotto
            </ng-template>
            <ng-template pTemplate="content">
                Descrizione Prodotto
            </ng-template>
            <ng-template pTemplate="footer">
                Prezzo Prodotto
            </ng-template>
        </p-card> -->

        <div class="quadratino">
        </div>
        <div class="quadratino">
        </div>
        <div class="quadratino">
        </div>
        <div class="quadratino">
        </div>
        <div class="quadratino">
        </div>
        <div class="quadratino">
        </div>
        <div class="quadratino">
        </div>
        <div class="quadratino">
        </div>
        <div class="quadratino">
        </div>
    </div>

</div>