header {
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
  background-color: transparent;
  isolation: isolate;
}

.navbar-at-top {
  transform: translateY(0);
  background-color: #075f46;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.navbar-visible {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-hidden {
  transform: translateY(100);
  background-color: transparent;
}

.bike {
  display: inline-block;
  transition: transform 0.3s ease-out;
}

h1:hover .bike {
  animation: bike-dynamic 0.8s ease-out;
}

@keyframes bike-dynamic {
  0% {
    transform: translateY(0) rotate(0);
  }

  30% {
    transform: translateY(-3px) rotate(-5deg);
  }

  60% {
    transform: translateY(2px) rotate(3deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
