<header class="flex justify-between items-center py-6 px-12">
    <h1 class="text-2xl font-bold">
        <a routerLink="/" class="flex items-center gap-3">
            <span class="material-icons text-3xl bike">pedal_bike</span>
            <span>Cicli L'Avarizia</span>
        </a>
    </h1>

    <nav>
        <ul>
            <li>
                <a routerLink="/auth/login" pButton label="Login"
                    class="transition-transform duration-200 ease-in-out transform hover:scale-105">
                </a>
            </li>
        </ul>
    </nav>
</header>