<section class="w-full flex flex-col gap-8">
  <p-card>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <div class="text-center md:text-left">
        <h1 class="text-2xl font-bold">
          {{ customerInfo()?.firstName }} {{ customerInfo()?.lastName }}
        </h1>
        <p class="text-gray-500">{{ authService.userInfo()?.email }}</p>
      </div>
    </div>
  </p-card>

  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-8">
    <p-card header="Informazioni profilo" class="shadow-lg rounded-2xl">
      <div class="space-y-4">
        <div class="flex justify-between">
          <span class="text-gray-500">Nome</span>
          <span class="font-medium">{{ customerInfo()?.firstName }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Cognome</span>
          <span class="font-medium">{{ customerInfo()?.lastName }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Middle Name</span>
          <span class="font-medium">{{ customerInfo()?.middleName }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Email</span>
          <span class="font-medium">{{ authService.userInfo()?.email }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Phone</span>
          <span class="font-medium">{{ customerInfo()?.phone }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Suffix</span>
          <span class="font-medium">{{ customerInfo()?.suffix }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Sales Person</span>
          <span class="font-medium">{{ customerInfo()?.salesPerson }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Company Name</span>
          <span class="font-medium">{{ customerInfo()?.companyName }}</span>
        </div>
        <div class="flex flex-col md:flex-row justify-between gap-2">
          <span class="text-gray-500">Address</span>
          <div class="flex flex-col gap-1">
            @for (address of customerInfo()?.customerAddresses; track $index) {
            <span class="font-medium">{{ address.address.addressLine1 }}</span>
            }
          </div>
        </div>
      </div>

      <ng-template #footer>
        <div class="flex flex-wrap justify-between items-center gap-2 mt-4">
          <div class="flex flex-wrap gap-2">
            <a routerLink="/auth/delete" pButton severity="danger" class="p-button-text" label="Elimina profilo"></a>
            <p-button text (onClick)="showDialogEmail()" label="Aggiorna Email"></p-button>
            <p-button text (onClick)="showDialogPassword()" label="Aggiorna Password"></p-button>
          </div>
          <p-button text (onClick)="showDialogUpdateInfo()" label="Modifica profilo"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</section>

<!-- DIALOG UPDATE EMAIL -->
<div class="flex justify-center items-center">
  <p-dialog (onHide)="error = null" header="Update Email" [modal]="true" [(visible)]="visibleEmail"
    [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-8">
      <label for="email" class="font-semibold w-24">Email</label>
      <input pInputText id="email" class="flex-auto" autocomplete="off" type="email" [formControl]="inputEmail" />
    </div>
    @if (error) {
    <p-message severity="error">{{ error }}</p-message>
    }
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visibleEmail = false" />
      <p-button [disabled]="!inputPassword.valid" label="Update" (onClick)="updateEmail()" />
    </div>
  </p-dialog>
</div>

<!-- DIALOG UPDATE PASSWORD -->
<div class="flex justify-center items-center">
  <p-dialog (onHide)="error = null" header="Update Password" [modal]="true" [(visible)]="visiblePassword"
    [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-8">
      <label for="password" class="font-semibold w-24">New Password</label>
      <p-password [formControl]="inputPassword" id="password" [feedback]="false" [toggleMask]="true"></p-password>
    </div>
    @if (error) {
    <p-message severity="error">{{ error }}</p-message>
    }
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visiblePassword = false" />
      <p-button [disabled]="!inputPassword.valid" label="Update" (onClick)="updatePassword()" />
    </div>
  </p-dialog>
</div>

<!-- DIALOG UPDATE INFO -->
<div class="flex justify-center items-center">
  <p-dialog (onHide)="error = null" header="Update Info" [modal]="true" [(visible)]="visibleUpdateInfo"
    [style]="{ width: '25rem'}">
    <div class="flex items-start justify-center gap-4 mb-8">
      <label for="firstName" class="font-semibold w-24">First Name</label>
      <input pInputText [formControl]="firstName" id="firstName" />
    </div>
    <div class="flex items-start justify-center gap-4 mb-8">
      <label for="firstName" class="font-semibold w-24">Last Name</label>
      <input pInputText [formControl]="lastName" id="lastName" />
    </div>
    <div class="flex items-start justify-center gap-4 mb-8">
      <label for="middleName" class="font-semibold w-24">Middle Name</label>
      <input pInputText [formControl]="middleName" id="middleName" />
    </div>
    <div class="flex items-start justify-center gap-4 mb-8">
      <label for="phone" class="font-semibold w-24">Phone</label>
      <input pInputText [formControl]="phone" id="phone" />
    </div>
    <div class="flex items-start justify-center gap-4 mb-8">
      <label for="salesPerson" class="font-semibold w-24">Sales Person</label>
      <input pInputText [formControl]="salesPerson" id="salesPerson" />
    </div>
    <div class="flex items-start justify-center gap-4 mb-8">
      <label for="companyName" class="font-semibold w-24">Company Name</label>
      <input pInputText [formControl]="companyName" id="companyName" />
    </div>
    @if (error) {
    <p-message severity="error">{{ error }}</p-message> }
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visibleUpdateInfo = false" />
      <p-button [disabled]="!inputPassword.valid" label="Update" (onClick)="updatePassword()" />
    </div>

  </p-dialog>
</div>