<p-card header="Categorie">
  @if (isLoading()) {
  <p-progress-spinner ariaLabel="loading" strokeWidth="4" fill="transparent"
    [style]="{ width: '25px', height: '25px' }" />
  }@else {
  <ul>
    @for (category of categories(); track $index) {
    <li>
      <a routerLink="/products"
        [queryParams]="{ category: category.name.toLowerCase().trimEnd().trimStart().replaceAll(' ', '-'), page: page, pageSize: pageSize}">{{
        category.name }}</a>
    </li>
    }@empty {
    <li>No categories found</li>
    }
  </ul>
  }
</p-card>